<!-- <app-person *ngFor="let person of persons" [person]="person"></app-person> -->
<!-- <ng-container *ngIf="persons.length > 0">
  <div class="persons-table">
    <table mat-table [dataSource]="persons" multiTemplateDataRows>
      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column[1] }}</th>
        <td mat-cell *matCellDef="let person">{{ person[column[0]] }}</td>
      </ng-container>

       boton de expandir 
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let person">
          <button
            mat-icon-button
            aria-label="edit row"
            (click)="
              expandedPerson = expandedPerson === person ? null : person;
              $event.stopPropagation()
            "
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithEdit"></tr>
      <tr
        mat-row
        *matRowDef="let person; columns: columnsToDisplayWithEdit"
        class="person-row"
        [class.expanded-row]="expandedPerson === person"
        (click)="expandedPerson = expandedPerson === person ? null : person"
      ></tr>
    </table>
  </div>
</ng-container>
<ng-container *ngIf="persons.length === 0">
  <h1>No persons</h1>
</ng-container> -->

<div class="add-person-button-container">
  <button mat-flat-button color="primary" (click)="openEditPerson()">
    Añadir Socio
  </button>
</div>
<ng-container *ngIf="persons.length > 0">
  <div class="persons-table">
    <table mat-table [dataSource]="persons">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let person">{{ person.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let person">{{ person.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let person">{{ person.dni }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let person">
          <button
            mat-icon-button
            aria-label="edit row"
            (click)="openEditPerson(person)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="delete row"
            (click)="deletePerson(person)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithEdit"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplayWithEdit"
        class="person-row"
      ></tr>
    </table>
  </div>
</ng-container>
<ng-container *ngIf="persons.length === 0">
  <div class="persons-table">Tabla vacía</div>
</ng-container>

<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Add a new person</mat-card-title>
  </mat-card-header>
  <form action="" class="person-form">
    <p>
      <mat-form-field>
        <mat-label>D.N.I</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </p>
    POSIBILIDAD DE USAR DIV PARA EL RESPONSIVE
    <table class="full-name-table" cellSpacing="0">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input type="text" matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input type="text" matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" class="btn-person-form">
      Añadir
    </button>
  </form>
</mat-card> -->
